a { color:#FF0000; } 
a:visited { color:#FF0000; } 
a:active { color:#FF0000; } 
a:hover { color:#FF0000; } 
body { background-color:#232323; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_72b63364 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_49eb412b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:103px; background-color:#232323;  }
#container_49eb412b_padding { margin: 10px; display: block;  }
#container_3dbc5511 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#container_3dbc5511_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:32pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF;  }
#text_518a40e6 { position:absolute; left:93%; top:63%; width:47px; height:26px; background:none;  }
.textstyle4 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_320ee2cb { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:578px; background-color:#232323;  }
#container_320ee2cb_padding { margin: 10px; display: block;  }
.textstyle5 { font-size:24pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  }
#img_7fc73153 { position:absolute; left:90%; top:82%; width:8%; background:none; height:auto;  }
#img_54323429 { position:absolute; left:84%; top:81%; width:5%; background:none; height:auto;  }
.textstyle6 { font-size:24pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold; line-height: 1.5;  }
