a { color:#FF0000; } 
a:visited { color:#FF0000; } 
a:active { color:#FF0C0C; } 
a:hover { color:#FF0000; } 
body { background-color:#7C2F2F; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_6174824a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_4beb9065 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:103px; background-color:#7C2F2F;  }
#container_4beb9065_padding { margin: 10px; display: block;  }
#container_3fffa953 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:60px; background:none;  }
#container_3fffa953_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:32pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF;  }
#text_78c153f2 { position:absolute; left:93%; top:63%; width:47px; height:26px; background:none;  }
.textstyle4 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_cc5f763 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:710px; background-color:#7C2F2F;  }
#container_cc5f763_padding { margin: 10px; display: block;  }
#img_5b6e5158 { position:absolute; left:90%; top:82%; width:8%; background:none; height:auto;  }
#img_170e061d { position:absolute; left:84%; top:81%; width:5%; background:none; height:auto;  }
.textstyle5 { font-size:24pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  }
