a { color:#FF0000; } 
a:visited { color:#FF0000; } 
a:active { color:#FF0000; } 
a:hover { color:#FF0000; } 
body { background-color:#C0C0CC; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_49895880 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:426px; background-color:#FFFFFF; background-image: url(rc_images/jhs_logo_jhs_letter_jhs_letter_logo_design_initials_jhs_logo_linked_with_circle_and_uppercase_monogram_logo_jhs_typography_for_technology_business_and_real_estate_brand_vector_1200x1200.jpg); background-position:center left; background-size:cover; box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.588235);  }
#container_49895880_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:16pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
.textstyle4 { font-size:24pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
#text_68635472 { position:absolute; left:94%; top:8%; width:78px; height:34px; background:none;  }
.textstyle5 { text-align:right; }
.textstyle6 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#text_43dea141 { position:absolute; left:88%; top:8%; width:85px; height:20px; background:none;  }
#container_50c99fc5 { vertical-align: top; position:relative; display: inline-block; width:101%; min-height:666px; background-color:#7C2F2F;  }
#container_50c99fc5_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:11pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
.textstyle8 { font-size:11pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000;  }
.textstyle9 { font-size:15pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000;  }
.textstyle10 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000;  }
.textstyle11 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
#text_3b62a34e { position:absolute; left:1%; top:2%; width:1055px; height:314px; background:none;  }
.textstyle12 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#text_7e4f3457 { position:absolute; left:19%; top:8%; width:145px; height:311px; background:none;  }
#text_8033757 { position:absolute; left:31%; top:9%; width:179px; height:381px; background:none;  }
#text_74cc30ce { position:absolute; left:44%; top:8%; width:194px; height:364px; background:none;  }
#text_2999867e { position:absolute; left:57%; top:7%; width:259px; height:498px; background:none;  }
#text_5ad1743c { position:absolute; left:74%; top:8%; width:345px; height:167px; background:none;  }
